<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div id="nav-bar">
    <div class="content bx">
        <div class="top">
            <div class="left">
                <h1 class="logo">
                    <a href="#">
                        阿普利亚
                    </a>
                </h1>
            </div>
            <div class="center">
                <form action="">      <!--提交表单时向何处发送表单数据-->
                    <div class="search-bar">
                        <div class="category">
                            <lable>
                                <select name="category">
                                    <option value="all">全部</option>
                                    <option value="course">课程</option>
                                    <option value="teacher">讲师</option>
                                    <option value="article">文章</option>
                                </select>
                            </lable>
                        </div>
                        <div class="keyword">
                            <label>
                                <input type="text" placeholder="请输入搜索关键字" name="kw">
                            </label>
                        </div>
                        <div class="submit-btn">
                            <input class="iconfont" type="submit" value=" &#xe62d;搜索">
                        </div>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="intro">
                    <div class="user">
                        <span class="nick-name">用户昵称：sz</span>
                        <img class="header" src="" alt="">
                    </div>
                    <div class="operation-pace">

                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
</div>
</body>
</html>